body {
  background-image: url("./imges/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 75%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 20px;
  color: #28352f;
}
.dropdown-menu {
  padding-top: 1em;
}

.header-container h3 {
  color: #172b4d;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}
.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-container h1 {
  position: static;
  width: 327px;
  height: 192px;
  left: 24px;
  top: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.headline-container h1 span {
  color: #429c4a;
}
.headline-container p {
  position: static;
  width: 327px;
  height: 164px;
  left: 24px;
  top: 314px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 58px 0px;
}

.icons {
  display: flex;
  justify-content: space-between;
  position: static;
  width: 170.17px;
  height: 20px;
  left: 102.42px;
  top: 536px;
  order: 2;
  flex-grow: 0;
  margin: 58px 0px;
}

.icons li {
  list-style: none;
}

.midel-part {
  display: flex;
  flex-direction: column;
}
.dropdown-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.theline {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}
.midel-part h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  text-align: center;

  color: #172b4d;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #d0d9d4;
  width: 80%;
  margin: 0 auto;

  border-radius: 5px;
}

.img {
  width: 100%;
  height: 400px;
  background: #ebf0ee;
  border-radius: 5px;
}

.card-container h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}
.card-container ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-container ul li {
  list-style: none;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 5px;
}
.card-container ul li a {
  text-decoration: none;
  color: inherit;
}
.card-container button {
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  border-color: #36b37f;
}
