@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  padding: 0%;

  margin: 0;
  box-sizing: border-box;
}

.bg-header-img {
  background-image: url("./imges/icons/bg-disktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 150vh;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

#btn:hover {
  color: #172b4d;
}

.header-container {
  display: none;
}

.header-desctop ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
  font-style: normal;
  margin: 0%;
  padding-top: 1em;
}

.header-desctop ul li a {
  margin: 1.5em;
}

.about-me span {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 46px;
  width: 160px;
  height: 48px;
  left: 106px;
  top: 285px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.headline-container h1 {
  width: 70%;
  height: 114px;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  line-height: 68px;
  text-align: center;
  color: #172b4d;
}

.headline-container h1 span {
  color: #429c4a;
}

.card-container span {
  width: 6em;
  height: 32px;
  background: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-color: #36b37f;
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.headline-container p {
  margin-top: 4em;
  margin-bottom: 3em;
  width: 60%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.icons {
  display: flex;
  justify-content: space-between;
  position: static;
  width: 170.17px;
  padding-left: 0;
}

.midel-part {
  display: flex;
  flex-direction: column;
}

.midel-part br {
  display: none;
}

.dropdown-mobil-btn {
  display: none;
}

.dropdown-btn {
  width: 100%;
}

.theline {
  display: none;
}

.midel-part h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  padding-bottom: 1.4em;
  color: #172b4d;
}

.the-main-section {
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  flex-wrap: wrap;
  padding-bottom: 5em;
  width: 90%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #d0d9d4;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 5em;
}

.img {
  width: 100%;
  height: 400px;
  background: #ebf0ee;
  border-radius: 5px;
}

.card-container h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.card-container ul {
  float: left;
  padding: 0%;
}

.card-container ul li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 5px;
  font-size: 12px;
  display: inline-block;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  background-image: url(./imges/icons/bg-aboutme2.svg),
    url(./imges/icons/bg-aboutme1.svg);
  background-repeat: no-repeat;
  background-position: 0% 103%, 100% 189%;
}

.about-me h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding-bottom: 1em;
}

.about-me p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  width: 57%;
  color: #42526e;
  margin-bottom: 1.3em;
}
.tech {
  display: flex;
  padding: 0%;
  justify-content: center;
  margin-bottom: 8em;
}
.Languages {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 330px;
  background: rgb(235, 240, 238);
  border-radius: 6px;
  width: 70%;
  margin: 3em;
}

.background-Languages h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #344563;
}

.background-Languages ul {
  display: flex;
  flex-wrap: wrap;
  color: #36b37e;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  justify-content: center;
  padding: 1em;
}

.background-Languages ul li {
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
}
.background-Languages img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.contact-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-image: url(./imges/icons/Frame.svg),
    url(./imges//icons/Frame@2x.svg), url(imges/icons/contact-me-img-2.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%, 100% 99%, 29% 87%;
  background-size: 10%;
  padding-bottom: 11em;
}

.contact-me h3 {
  position: static;
  width: 40%;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 2.3em;
  color: #172b4d;
  flex: none;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

.input {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  margin-bottom: 1em;
}

.names input {
  width: 49%;
}

#message {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1em;
  padding-bottom: 5em;
  margin-bottom: 1em;
}

#btn {
  width: 122px;
  background: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-color: #36b37f;
  padding-top: 10px;
  cursor: pointer;
  padding-bottom: 0.5em;
  border: none;
  margin: 0% auto;
  margin-right: 100%;
}

#btn:hover {
  color: #172b4d;
}

.icons-end {
  margin: 0 auto;
  margin-bottom: 1em;
}
.end-lin-disktop {
  width: 100%;
  height: 1px;
  background: #172b4d;
  border-radius: 24px;
  margin-bottom: 1em;
}

.end-line {
  display: none;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 200px;
}
.email {
  display: none;
}

@media (max-width: 500px) {
  body {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  .header-desctop {
    display: none;
  }

  .bg-header-img {
    background-image: none;
    height: 100vh;
  }

  .header-desctop {
    display: none;
  }

  .dropdown-btn {
    display: none;
  }

  .dropdown-mobil-btn {
    display: block;
    padding-top: 3em;
  }

  .about-me span {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 46px;
    width: 160px;
    height: 48px;
    left: 106px;
    top: 285px;
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    text-align: center;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    font-size: 20px;
    color: #28352f;
  }

  .dropdown-menu {
    padding-top: 1em;
  }

  .header-container h3 {
    color: #172b4d;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 107%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .headline-container {
    background-image: url(./imges//icons/bg-mobil.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3px;
  }

  ul {
    padding: 0;
  }

  .headline-container h1 {
    width: 327px;
    height: 192px;

    font-size: 2.9em;
  }

  .cards {
    display: flex;
  }

  .card-container span {
    width: 122px;
    height: 32px;
    background: #36b37f;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border-color: #36b37f;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }

  .headline-container h1 span {
    color: #429c4a;
  }

  .headline-container p {
    width: 327px;
    height: 164px;
    left: 24px;
    top: 314px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    position: static;
    width: 170.17px;
    height: 20px;
    left: 102.42px;
    top: 536px;
  }

  .icons li {
    list-style: none;
  }

  .midel-part {
    display: flex;
    flex-direction: column;
  }

  .theline {
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-bottom: 4em;
  }

  .midel-part h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  .the-main-section {
    display: flex;
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #d0d9d4;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 1em;
  }

  .img {
    width: 100%;
    height: 200px;
    background: #ebf0ee;
    border-radius: 5px;
  }

  .card-container h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #3a4a42;
    text-align: center;
  }

  .card-container ul {
    float: left;
    padding: 0%;
  }

  .card-container ul li {
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 5px;
    font-size: 12px;
    display: inline-block;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    background-image: url(./imges/icons/about-bg-1.svg)
      url(./imges/icons/about-bg-2.svg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 0;
  }

  .about-me h3 {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    padding-bottom: 1em;
  }

  .about-me p {
    width: 90%;
    font-size: 30px;
    margin-bottom: 1.5em;
  }

  .tech {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 1em;
  }

  .Languages {
    display: flex;
    flex-direction: row;
    height: 330px;
    background: rgb(235, 240, 238);
    border-radius: 6px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 3em;
    padding: 1em;
  }

  .background-Languages h3 {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #344563;
  }

  .background-Languages ul {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    padding: 0;
  }

  .background-Languages ul li {
    background: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 5px;
  }

  .contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-image: url(./imges/icons/contact-bg.svg);
    background-repeat: no-repeat;
    background-size: 17%;
    background-position: 100% 100%;
  }

  .contact-me h3 {
    position: static;
    width: 327px;
    height: 363px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    flex: none;
    margin: 0 auto;
    margin-bottom: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .input {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1em;
    margin-bottom: 1em;
  }

  #message {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1em;
    padding-bottom: 5em;
    margin-bottom: 1em;
  }

  #btn {
    width: 122px;
    background: #36b37f;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border-color: #36b37f;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    border: none;
  }

  .icons-end {
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .end-line {
    margin: 0 auto;
    display: block;
    width: 30%;
    height: 4px;
    background: #172b4d;
    border-radius: 24px;
    margin-bottom: 1em;
  }

  .end-lin-disktop {
    display: none;
  }

  h4 {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-bottom: 200px;
  }
}
